/* Write your CSS here */
.app-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;

  padding: 2em;
}
.coin-image {
  height: 180px;
}
.counts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
